* {
	margin: 0;
	padding:0;
	font-family: sans-serif;}

.body{
	background:#E6E6E6;}
	
header {
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img/bg.jpg);
	width: 100%;
	height: 100vh;
	background-size:cover;
	background-position:center;}
	
.header2 {
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img/bg.jpg);
	width: 100%;
	height: 40vh;
	background-size:cover;
	margin-bottom:5%;
	background-position:center;}
	
.title{
	width:90%;
	color:#F7F7F7;
	position:absolute;
	transform: translate(-50%,-50%);
	left:50%;
	top:26%;
	text-align:center;}
	
.title h1{
	font-size:50;
	margin-bottom:-30;}

.navbar {
	width: 85%;
	margin:auto;
	padding:40 0;
	display: flex;
	align-items:center;
	justify-content:space-between;}
	
.logo {
	float: left;
	width:250;}
	
ul li {
	display: inline-block;
	list-style: none;
	font-weight: bold;
	margin: 0 20;
	position: relative;}
	
ul li a {
	text-decoration: none;
	color:#F7F7F7;
	text-transform:uppercase;}
	
ul li img {
	width:20;}
	
ul li:after {	
	content: '';
	height:3;
	width: 0%;
	background: #B2034F;
	display:block;
	transition:0.3s;}
	
ul li:hover:after {	
	width:100%;}
	
.footer {
	width:100%;
	text-align:center;
	color:#000000;
	background-color:#CBCBCB;
	padding:15 0;}

.footer h4 {
	margin:20 10 10 0;
	font-weight:700;}

.footer p {
	font-size:13;
	margin-top:5;
	font-style:italic;
	color:#000000;}

.icons a{
	color:#B2034F;}
	
.welcome-text{
	width:90%;
	color:#F7F7F7;
	position:absolute;
	transform: translate(-50%,-50%);
	left:50%;
	top:55%;
	text-align:center;}
	
.welcome-text h1{
	font-size:70;
	margin-bottom:-30;}
	
.welcome-text p{
	font-style: italic;
	font-size:20;}

.shop-button{
	display:inline-block;
	text-decoration:none;
	color:#F7F7F7;
	border: 1px solid #f7f7f7;
	padding:12 34;
	margin: 40 0 ;
	font-size:18;
	background:transparent;
	position:relative;}
	
.shop-button:hover{
	border:1px solid #B2034F;
	background:#B2034F;	
	transition:0.5s;}
	
.products-hp {
	width:80%;
	margin:auto;
	text-align:center;
	padding-top:40;
	margin-bottom:50;}
	
h1 {
	font-size:33;
	font-weight:600;
	padding:50;}
			
.products-hp img {
	width:300;
	height:auto;}
	
.best-seller {
	display:flex;
	justify-content:space-between;}
	
.product {
	width:300;
	border-radius:10px;
	background:#384A66;
	padding: 20 12;
	display:block;
	box-shadow:0 2px 10px 0px #595959;}

.product:hover	 {
	transform:translateY(-7px);}

.product h3 {
	margin:10;
	margin-top:18;
	color:white;}
	
.product p {
	color:white;
}

.feedbacks {
	width:50%;
	margin:auto;
	margin-bottom:3%;
	text-align:center;}

.fbacks {
	border-radius:10px;
	margin-bottom:5%;
	text-align:left;
	background:#D7CFBE;
	padding:20;
	display:flex;}

.fbacks img {
	height:60;
	margin-left:7;
	margin-right:25;
	border-radius:50%;}

.fbacks h3 {
	font-size:18;
	margin-top:5;}
	
.fbacks p {
	font-size:15;
	margin-top:8;}
	
.stars {
	margin:20 0 0 495;
	color:#B2034F;}

hr {
	width: 80%;
	color: gray;
	float: center;
}
/*contact us*/
.contact-home {
	width:80%;
	height:300;
	display:flex;
	margin:auto;
	margin-bottom:5%;
	margin-top:3%;
	justify-content:space-between;
	text-align:center;}

.contact {
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://media.istockphoto.com/photos/craft-hobby-background-with-yarn-in-natural-colors-picture-id1346636854?b=1&k=20&m=1346636854&s=170667a&w=0&h=bfhCwkmkhMLW-ykuOMMUS_6aEECm55nRflXPkzkWReQ=);
	width:48%;
	text-align:left;
	background-size:cover;	
	border-radius:15px;
	text-align:center;}
	
.contact h1 {
	margin-top:35;
	color:#F7F7F7;
	margin-bottom:-20;}
		
.gallery {
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://i.pinimg.com/474x/2d/08/2c/2d082c9431fc564a161636be6718d906.jpg);
	background-size:cover;
	width:48%;
	border-radius:15px;
	text-align:center;}
	
.gallery h1 {
	margin-top:50;
	color:#F7F7F7;}
	
.contact-btn {
	display:inline-block;
	text-decoration:none;
	color:#F7F7F7;
	border: 1px solid #f7f7f7;
	border-radius:15px;
	font-size:18;
	padding:12 34;
	background:transparent;
	position:relative;}
	
.contact-btn:hover {
	border:1px solid #B2034F;
	background:#B2034F;
	transition:0.5s;}
	
.maps {
	width:1000;
	height:450;
	border:0;
	display:flex;
	margin:auto;
	border-radius:10px;}
	

input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	}

input[type=submit] {
	background-color: #04AA6D;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	}

input[type=submit]:hover {
	background-color: #45a049;
	}
	
.contact-us {
	width:80%;
	margin:auto;
	margin-top: 5%;
	display:flex;
	}
	
.container {
	display:flex;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	width:68%;
	margin-bottom: 5%;
	}
	
.tact-us{
	border-radius: 15px;
	padding: 20px;
	text-align: left;
	width:50%;
	margin:10;
	margin-left:50;
	}
	
.tact-us h2 {
	font-size:43;
	}
	
.tact-us h5 {
	font-weight:none;
	font-size:15;}
	
/*about uss*/
	
.pattern{ 
  display:flex;
  text-align:center;
  margin:10px;
  margin-left: 50px;
  padding: 30px;
  }
  
.pattern img{
	width:230;
	height: auto;
	border-radius:5px;
	}
	
.patterns {
	margin: auto;
	width:230;
	border-radius: 10px;
	background-color: white;
	padding: 13 12;
	box-shadow:0 2px 10px 0px #595959;
	}
	
.patterns h5 {
	font-size:15;
	margin-top:20;}
	
.patterns:hover	 {
	transform:translateY(-7px);}

.about-us {
	margin:auto;
	justify-content:space-between;
	display:flex;
	padding-left:180;
	padding-right:170;
	margin-top:-60;}
	
.ab-us img {
	width:500;
	height:auto;
	border-radius:5px;}
	
.misvis {
	width:500;
	text-align:center;
	margin-top:48;
	padding-right:35;}
	
.misvis h2 {
	font-size:30;
	margin-bottom:15;}
	
.misvis p {
	font-size:20;
	margin-bottom:15;}
	
.bout{
	width:70%;
	display:flex;
	margin:auto;
	margin-top:-40;
	margin-bottom:15;
	justify-content: space-between;
	font-family: Helvetica;
	}

.vl {
	border-left: 3px solid #131313;
	height: 420px;
	left: 50%;
	margin-top: 38;
}

.gero {
	border-radius: 15px;
	padding:20px;
	width:35%;
	margin: 15px;
	background:#D7CFBE;
	margin-bottom: 10px;
	text-align: center;
	}
	
.gero img{
	width:200;
	height:auto;
	border-radius:50%;
	margin-top:10;
	border:2px solid black;
	}

.gero h3 {
	font-size:20;
	margin:18;
	margin-top:20;}
	
.gero p {
	margin:13;}
	
.geraldine {
	border-radius: 15px;
	padding:20px;
	width:35%;
	margin: 15px;
	background:#D7CFBE;
	margin-bottom: 10px;
	text-align: center;
	}
	
.geraldine img{
	width:200;
	height:auto;
	border-radius:50%;
	margin-top:10;
	border:2px solid black;
	}
	
.geraldine h3 {
	font-size:20;
	margin:18;
	margin-top:20;}
	
.geraldine p {
	margin:13;}